@use 'src/css/common' as Common;
@use 'src/css/color' as Color;

@include Common.container;

.header{
  display: flex;
  justify-content: space-between;
}

.scrollBox{
  overflow: auto;
  overflow-x: hidden;
  height: 80%;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 10px;

  .input{
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    margin-bottom: 5px;
  }

  .todoList{
    @include Common.flex-spaceBt-center;
    background: Color.$bg;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.2);

    .date{
      font-size: 13px;
    }
  }

  .plus_circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: lightgray;
    margin: 20px auto;
    cursor: pointer;

    .plus_1{
      position: relative;
      width: 60%;
      top: 13px;
      left: 6px;
      border-top: 3px solid black;
    }
    .plus_2{
      position: relative;
      width: 60%;
      top: 10px;
      left: 5.7px;
      transform: rotate(90deg);
      border-top: 3px solid black;
    }
  }
  .x_btn{
    transform: rotate(45deg);
  }
}