@use 'src/css/common' as Common;
@use 'src/css/color' as Color;

@include Common.container;


@mixin btn-style($color){
  border-radius: 50%;
  background: $color;
  width: 20px;
  height: 20px;
  position: relative;
}

@mixin check-btn-style($width, $top, $left, $deg){
  border-top: 2px solid white;
  width: $width;
  position: absolute;
  top: $top;
  left: $left;
  transform: rotate($deg);
}

@mixin x-btn-style($width, $deg, $top,$left){
  position: absolute;
  width: $width;
  transform: rotate($deg);
  border-top: 2px solid white;
  top: $top;
  left: $left;
}

.header{
  display: flex;
  justify-content: space-between;
}

.scrollBox{
  overflow: auto;
  overflow-x: hidden;
  height: 80%;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 10px;

  .input{
    border: none;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    margin-bottom: 5px;
  }

  .todoList{
    @include Common.flex-spaceBt-center;
    background: Color.$bg;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

    .x_btn_box{
      @include btn-style(red);

      .x_btn1{
        @include x-btn-style(10px, 45deg, 8.5px, 5.5px)
      }
      .x_btn2{
        @include x-btn-style(10px, 135deg, 8.5px, 5.5px)
      }
    }

    .check_box{
      @include btn-style(lightgrey);

      .check1{
        @include check-btn-style(6px, 10px, 4px, 45deg)
      }
      .check2{
        @include check-btn-style(10px, 10px, 7.5px, 135deg)
      }
    }

    .done{
      background: lightgreen;
    }

    .remove{
      background: red;
    }

    .date{
      font-size: 13px;
    }
  }
}
